#topbar{background-color: black;padding-top:5px ; 
    padding-bottom: 5px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
#topbar span{margin-right: 15px;}
#topbar a{color: white;text-decoration: none;margin-left: 15px;}
#topbar .container{display: flex;justify-content: space-between;}